@import "../../assets/colors";

$color_border_primary: #74BEC5;
$color_border_secondary: #9FD8DC;

.header {
    width: 100vw;
    height: 50px;
    background: linear-gradient(to right, $color_primary_dark, $color_primary_light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__image {
        height: 85%;
    }
    &::after {
        content: "";
        width: inherit;
        height: 5px;
        background: linear-gradient(to right, $color_border_primary, $color_border_secondary);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}