@import "../../../assets/colors";

.confirm-dialog {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $color_shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    &__main {
        background: $color_background;
        color: $color_text;
        margin: 0 24px;
        border-radius: 8px;
        &__title {            
            padding: 15px 30px;
            border-bottom: 2px solid $color_border;
            text-align: left;
        }
        &__message {
            padding: 30px;
            padding-bottom: 10px;
            text-align: center;
        }
    }
    &__buttons {
        padding: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and(max-width: 959px) {
    .confirm-dialog__button {
        text-align: center;
        &:first-child {
            margin-bottom: 16px;
        }
    }
}