@import "../../assets/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {  
  font-family: 'Raleway';
  font-variation-settings: "wght" 400;
}
