@import "../../../assets/colors.scss";
@import "../../../assets/fonts";

.navigation {
    height: 130px;
    width: calc(100vw - 80px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $color_primary_light; 
    margin: 0 40px !important;
    &__item {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        &:first-child  {
            border-right: 1px solid $color_border;
            text-align: right;
            padding-left: 0 !important;
        }
        &:last-child {
            padding-right: 0 !important;
        }
    }
    &__link {
        font-size: 18px;
        color: $color_text;
        text-decoration: none;
        font-variation-settings: "wght" 600;
        &:hover, &:active {
            color: $color_primary_light;
        }
        &.active {
            color: $color_primary_light;
        }
    }
}

@media only screen and(max-width: 959px) {
    .navigation {
        height: 70px;
    }
}