@import "../../../assets/colors";

.contact {
    border: 1px solid $color_border;
    border-radius: 8px;
    transition: .2s all ease-in-out;
    height: 160px !important;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    &:hover {
        border-color: $color_primary;
    }
    &__icons {
        position: absolute;
        left: 10px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 20px);
        &__icon {
            cursor: pointer;
            &.--edit {
                margin-right: 16px;
            }
            &:hover {
                color: $color_primary;
            }
        }
    }
    &__icons, &__name {
        color: $color_text;
    }
    &__name {
        text-align: center;
        font-weight: bold;
        font-variation-settings: "wght" 600;
    }
    &__image {
        text-align: center;
        img, div {
            margin: auto;
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid $color_border;
            position: relative;
            top: 20px;
        }
    }
}

@media only screen and(max-width: 959px) {
    .contact {
        height: 70px !important;
        align-items: center;
        &__icons {
            position: initial;
            padding-left: 10px;
        }
        &__image {
            padding-left: 8px;
            img, div {
                top: 0;
                width: 50px;
                height: 50px;
            }
        }
        &__name {
            text-align: left;
            padding-left: 16px;
            font-weight: normal;
        }
    }
}