@import "../../../assets/colors";

.button {
    border: none;
    padding: 8px 50px;
    border-radius: 18px;
    color: $color_text_contrast;
    min-width: 150px;
    &.primary {
        background-color: $color_primary;
    }
    &.secondary {
        background-color: $color_secondary;
    }
}