@import "../../assets/colors";

.contacts {
    &__main {
        padding: 0 100px;
        max-width: 1300px !important;
        margin: auto;
    }
    &__search {
        margin: 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 540px;
        position: relative;
        &-container {
            display: flex;
            justify-content: center;
        }
        &__icon {
            position: absolute;
            height: 100%;
            left: 20px;
            top: calc(50% - 12px);
            color: $color_text;
        }
        input {
            border: 1px solid $color_border;
            box-shadow: 1px 2px 6px $color_shadow;
            height: 60px;
            width: 100%;
            border-radius: 4px;
            outline: none;
            padding-left: 50px;
            padding-right: 20px;
            &:focus {
                border-color: $color_primary;
            }
        }
    }
    &__item {
        max-width: 300px !important;
    }
}

@media only screen and(max-width: 959px) {
    .contacts {
        &__main {
            padding: 10px;
            padding-top: 0;
        }
        &__item {
            padding-bottom: 0 !important;
            max-width: none !important;
        }
        &__search {
            margin: 20px;
        }
    }
}