@import "../../../assets/colors";

.add-new {
    border: 1px dashed $color_primary_light;
    border-radius: 8px;
    height: 160px !important;
    cursor: pointer;
    transition: .2s all ease-in-out;
    &:hover {
        border-color: $color_primary_dark;
    }
    &__icon, &__text {
        color: $color_primary_extra_light;
        text-align: center;
        height: 50%;
    }
    &__icon {
        position: relative;
        svg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }
    }
}

@media only screen and(max-width: 959px) {
    .add-new {
        height: 70px !important;
        align-items: center;
        &__text {
            text-align: left;
            height: 24px;
        }
    }
}