$color_primary: #56B4BC;
$color_primary_dark: #39A3AD;
$color_primary_light: #77C8CD;
$color_primary_extra_light: #ABD9DE;
$color_background: #FFFFFF;
$color_secondary: #BBC4C3;
$color_border: #dfdfdf;
$color_text: #BBC4C3;
$color_text_contrast: #FFFFFF;
$color_shadow: rgba(0, 0, 0, .15);