@supports (font-variation-settings: normal) {
    @font-face {
      font-family: 'Raleway';
      src: url('./fonts/Raleway-VF.ttf') format('woff2 supports variations'),
           url('./fonts/Raleway-VF.ttf') format('woff2-variations');
      font-weight: 100 1000;
      font-stretch: 25% 151%;
    }
  
    .super-bold {
      font-weight: 1000;
    }
  }