@import "../../assets/colors";

.details {
    margin-top: 50px !important;
    position: relative;
    width: 100% !important;
    &__icons {
        position: absolute;
        &__item {
            display: flex;
            align-items: center;
        }
    }
    &__image {
        padding-left: 16px;
        &-container {
            margin-left: calc(100% - 200px);
        }
        img, div {
            border-radius: 50%;
            width: 186px;
            height: 186px;
            object-fit: cover;
            border: 3px solid $color_border;            
        }
    }
    &__name {
        font-size: 24px;
        color: $color_text;
        font-weight: bold;
        font-variation-settings: "wght" 600;
        display: none;
    }
    &__header {
        font-size: 24px;
        color: $color_text;
        border-bottom: 2px solid $color_primary;
        font-weight: bold;
        font-variation-settings: "wght" 600;
        position: relative;
        margin-bottom: 50px !important;
        padding-bottom: 24px !important;
    }
    &__button {
        cursor: pointer;
        &:hover {
            color: $color_primary;
        }
        &.--back {
            transform: scaleY(-1);
        }
    }
    &__item {
        padding-bottom: 50px;
    }
    &__label {
        color: $color_primary;
        font-weight: bold;
        font-variation-settings: "wght" 600;
        text-transform: lowercase;
    }
    &__number-label {
        text-transform: uppercase;
        font-variation-settings: "wght" 600;
    }
    &__info {
        color: $color_text;
    }
}

@media only screen and(max-width: 959px) {
    .details {
        margin: 0 !important;
        margin-top: 50px !important;
        &__container {
            padding-top: 0 !important;
        }
        &__header {
            position: initial;
            padding: 0 !important;
            margin-left: 16px;
            margin-right: 16px;
            margin-bottom: 24px !important;
            &__name {
                display: none;
            }
        }
        &__icons {
            height: 50px;
            top: -50px;
            left: 0;
            padding: 0 48px;
            border-bottom: 1px solid $color_border;
            &__manage {
                text-align: right;
            }
        }
        &__image {
            &-container {
                margin-left: initial;
            }
            img, div {
                width: 70px;
                height: 70px;
            }
        }
        &__name {
            display: initial;
            margin-left: 0 !important;
        }
        &__label {
            padding-bottom: 8px;
        }
        &__info {
            padding-left: 40px;
        }
    }
}

@media only screen and(max-width: 383px) {
    .details {
        &__icons {
            padding: 0 10px;
        }
        &__image {
            padding-left: 0;
            img {
                width: 60px;
                height: 60px;
            }
        }
        &__name {
            font-size: 20px;
        }
    }
}