@import "../../../assets/colors";
.input {
    padding: 20px 30px;
    border: 1px solid $color_border;
    border-radius: 5px;
    outline: none;
    width: 100%;
    &:focus {
        border: 1px solid $color_primary;
    }
    &.invalid {
        border-color: red;
    }
}

::placeholder {
    color: $color_text;
}