@import "../../assets/colors";

.form {
    margin-top: 40px !important;
    &__image {
        border-radius: 50%;
        width: 186px;
        height: 186px;
        max-width: 186px !important;
        max-height: 186px !important;
        border: 3px solid $color_border;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color_primary_extra_light;
        background-size: 186px 186px;
        background-repeat: no-repeat;
        color: $color_text_contrast;
        position: relative;
        padding: 0 !important;
        cursor: pointer;
        &-container {
            display: flex;
            max-width: 542px !important;
            justify-content: flex-end;
        }
        &__delete {
            visibility: hidden;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color_shadow;
            opacity: 0;
            border-radius: 50%;
        }
        &:hover {
            &:after {
                opacity: 1;
            }            
            .form__image__delete {
                visibility: visible;
            }
        }
    }
    &__header {
        color: $color_text;
        border-bottom: 2px solid $color_primary;
    }
    &__button {
        cursor: pointer;
        &:hover {
            color: $color_primary;
        }
        &.--back {
            transform: scaleY(-1);
        }
    }
    &__main {
        margin-bottom: 64px;
        &__field {
            color: $color_text;
            border-bottom: 2px solid $color_primary;
            &__label {
                display: flex;
                align-items: center;
                color: $color_primary;
                font-weight: bold;
                font-variation-settings: "wght" 600;
                text-transform: lowercase;
                &:hover {
                    color: $color_primary_extra_light;
                    .form__main__field__button.--add {
                        color: $color_primary_extra_light;
                        border-color: $color_primary_extra_light;
                    }

                }
                &.--add {
                    text-transform: initial;
                    font-weight: normal;
                    cursor: pointer;
                }
            }
            &__button {
                cursor: pointer;
                border: 1px solid $color_border;
                border-radius: 50%;
                padding: 8px;
                &-container {
                    display: flex;
                    justify-content: center;
                }
                &:hover {
                    color: $color_primary;
                    border-color: $color_primary;
                }
                &.--add {
                    color: $color_primary;
                    border-color: $color_primary;
                }
            }
        }
        &__input {
            width: 50%;
        }
    }
}

@media only screen and(max-width: 959px) {
    .form {
        padding: 24px;
        position: relative;
        margin-top: 16px !important;
        &__header {
            position: absolute;
            top: 0;
            left: 20px;
            border-bottom: 1px solid $color_border;
            width: calc(100% - 40px);
            padding: 0 20px;
        }
        &__image {
            margin: auto;
            margin-top: 16px;
            &-container {
                margin: 0 10px !important;            
                border-bottom: 2px solid $color_primary;
            }
        }
        &__main {
            &__input {
                width: 100%;
            }
        }
    }
}

@media only screen and(max-width: 350px) {
    .form__footer-button {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
}